.word {
    line-height: 4px;
    /* text-align:center; */
}

.title {
    line-height: 8px;
    /* text-align: center; */
}

.title2 {
    line-height: 8px;
    padding-bottom: 15px;
    /* text-align: center; */
}

.title3 {
    line-height: 15px;
    /* padding-bottom:30px; */
    /* text-align: center; */
}

.body {
    color: rgb(255, 255, 255);
}

.button {
    background-color: rgb(0, 0, 0);
    color: white;
    line-height: 4px;
    text-align: center;
    height: 25px;
    width: 100px;
    border: none;
    border-radius: 1px;
}

.button:hover {
    background: rgb(70, 70, 70);
    cursor: pointer;
}

.button2 {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    line-height: 4px;
    text-align: center;
    height: 25px;
    width: 100px;
    border: none;
    border-radius: 1px;
}
.button2:hover {
    background: rgb(109, 109, 109);
    cursor: pointer;
}

.mainbutton {
    background-color: rgb(13, 0, 255);
    color: white;
    line-height: 4px;
    text-align: center;
    height: 25px;
    width: 350px;
    border: none;
    border-radius: 1px;
}

.mainbutton:hover {
    background: rgb(109, 136, 255);
    cursor: pointer;
}

.mainbutton2 {
    background-color: rgb(13, 0, 255);
    color: white;
    line-height: 4px;
    text-align: center;
    height: 30px;
    width: 125px;
    border: none;
    border-radius: 1px;
}

.mainbutton2:hover {
    background: rgb(142, 162, 253);
    cursor: pointer;
}


.scoreBorderBoxblack {
    border-top: 1px rgb(255, 255, 255) solid;
    border-right: 1px rgb(255, 255, 255) solid;
    border-left: 1px rgb(255, 255, 255) solid;
    border-bottom: 1px rgb(255, 255, 255) solid;
    /* padding: 10px; */
    color: white;
    width:90px;
    height:10px;
    overflow: hidden;
    position: relative;
    text-align: center;
    top: 150px;
    left: 40px;
    /* border-spacing: 10px 10px; */
}

.nameBorderBoxblack {
    border-top: 1px white solid;
    border-right: 1px white solid;
    border-left: 1px white solid;
    border-bottom: 1px white solid;
    /* padding: 30px; */
    color: white;
    width: 130px;
    height: 25px;
    overflow: hidden;
    position: relative;
    text-align: center;
    /* top: 80px;
    left: 80px; */
    /* border-spacing: 50px 0px; */
}

.mapBorderBoxblack{
    border-top: 1px rgb(255, 255, 255) solid;
    border-right: 1px rgb(255, 255, 255) solid;
    border-left: 1px rgb(255, 255, 255) solid;
    border-bottom: 1px rgb(255, 255, 255) solid;
    /* padding: 30px; */
    color: white;
    width: 175px;
    height: 30px;
    overflow: hidden;
    position: absolute;
}

.titleBorderBoxblack {
    border-top: 1px rgb(255, 255, 255) solid;
    border-right: 1px rgb(255, 255, 255) solid;
    border-left: 1px rgb(255, 255, 255) solid;
    border-bottom: 1px rgb(255, 255, 255) solid;
    /* padding: 30px; */
    color: white;
    width: 360px;
    height: 10px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 50px;
    left:260px;
    /* border-spacing: 10px 0px; */
}

.titleBorderBoxblack1 {
    border-top: 1px rgb(255, 255, 255) solid;
    border-right: 1px rgb(255, 255, 255) solid;
    border-left: 1px rgb(255, 255, 255) solid;
    border-bottom: 1px rgb(255, 255, 255) solid;
    /* padding: 30px; */
    color: white;
    width: 265px;
    height: 10px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 50px;
    left: 0px;
    /* border-spacing: 10px 0px; */
}

.mainBorderBoxblack{
    border-top: 1px rgb(255, 255, 255) solid;
    border-right: 1px rgb(255, 255, 255) solid;
    border-left: 1px rgb(255, 255, 255) solid;
    border-bottom: 1px rgb(255, 255, 255) solid;
    /* padding: 30px; */
    color: white;
    width: 617px;
    height: 150px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    /* top: 50px;
    right: 10px; */
    border-spacing: 10px 5px;
}

.totalBorderBoxblack{
    border-top: 1px rgb(255, 255, 255) solid;
    border-right: 1px rgb(255, 255, 255) solid;
    border-left: 1px rgb(255, 255, 255) solid;
    border-bottom: 1px rgb(255, 255, 255) solid;
    /* padding: 30px; */
    color: white;
    width: 500px;
    height: 150px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 50px;
    left: 650px;
    border-spacing: 10px 5px;
}

.totalBorderBoxblacktital{
    border-top: 5px black solid;
    border-right: 5px black solid;
    border-left: 5px black solid;
    border-bottom: 5px black solid;
    color: white;
    width: 300px;
    height: 25px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    /* top: 150px;
    right: 70px; */
    border-spacing: 10px 5px;
}

.totalrankBorderBoxblack{
    border-top: 1px rgb(255, 255, 255) solid;
    border-right: 1px rgb(255, 255, 255) solid;
    border-left: 1px rgb(255, 255, 255) solid;
    border-bottom: 1px rgb(255, 255, 255) solid;
    color: white;
    width: 50px;
    height: 25px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    /* top: 150px;
    right: 70px; */
    /* border-spacing: 10px 5px; */
}

.totalscoreBorderBoxblack{
    border-top: 1px rgb(255, 255, 255) solid;
    border-right: 1px rgb(255, 255, 255) solid;
    border-left: 1px rgb(255, 255, 255) solid;
    border-bottom: 1px rgb(255, 255, 255) solid;
    color: white;
    width: 50px;
    height: 25px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    /* top: 150px;
    right: 70px; */
    /* border-spacing: 10px 5px; */
}

.totalnameBorderBoxblack{
    border-top: 1px rgb(255, 255, 255) solid;
    border-right: 1px rgb(255, 255, 255) solid;
    border-left: 1px rgb(255, 255, 255) solid;
    border-bottom: 1px rgb(255, 255, 255) solid;
    color: white;
    width: 300px;
    height: 25px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    /* top: 150px;
    right: 70px; */
    /* border-spacing: 10px 5px; */
}

.promotionnameBorderBoxblack{
    border-top: 1px rgb(255, 255, 255) solid;
    border-right: 1px rgb(255, 255, 255) solid;
    border-left: 1px rgb(255, 255, 255) solid;
    border-bottom: 1px rgb(255, 255, 255) solid;
    color: white;
    width: 30px;
    height: 100px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    /* top: 150px;
    right: 70px; */
    /* border-spacing: 10px 5px; */
}

.promotionBorderBoxblack{
    border-top: 5px black solid;
    border-right: 5px black solid;
    border-left: 5px black solid;
    border-bottom: 5px black solid;
    color: white;
    width: 30px;
    height: 20px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    /* top: 150px;
    right: 70px; */
    /* border-spacing: 10px 5px; */
}

.promotionmainBorderBoxblack{
    border-top: 5px black solid;
    border-right: 5px black solid;
    border-left: 5px black solid;
    border-bottom: 5px black solid;
    color: white;
    width: 300px;
    height: 250px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    /* top: 150px;
    right: 70px; */
    border-spacing: 20px 0px;
}

.promotiontotalBorderBoxblack{
    border-top: 5px white solid;
    border-right: 5px white solid;
    border-left: 5px white solid;
    border-bottom: 5px white solid;
    color: white;
    width: 500px;
    height: 250px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 100px;
    right: 110px;
    border-spacing: 20px 10px;
}

.promotiontotaltitalBorderBoxblack{
    border-top: 5px white solid;
    border-right: 5px white solid;
    border-left: 5px white solid;
    border-bottom: 5px white solid;
    color: white;
    width: 100px;
    height: 50px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    border-spacing: 20px 10px;
}

.promotiontotalnameBorderBoxblack {
    border-top: 5px white solid;
    border-right: 5px white solid;
    border-left: 5px white solid;
    border-bottom: 5px white solid;
    color: white;
    width: 150px;
    height: 100px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    border-spacing: 20px 10px;
}